<header class="header header-6">
  <div class="branding">
    <a href="..." class="nav-link">
      <span class="title">
        {{ title }}
      </span>
    </a>
  </div>

  <div class="header-nav">
    <a href="/code" class="nav-link" [class.active]="true"
      ><span class="nav-text">Code</span></a
    >
    <!-- <a href="/browse" class="nav-link"
      ><span class="nav-text">Browse</span></a
    > -->
  </div>

  <!-- Search Bar -->
  <!-- <form class="search">
    <label for="search_input">
      <input
        id="search_input"
        type="text"
        placeholder="Search for keywords..."
      />
    </label>
  </form> -->

  <div class="header-actions">
    <!-- Login Info and User Settings -->
    <ng-container class="user" *ngIf="user$ | async as user">
      <a
        class="nav-link nav-text"
        style="cursor: pointer"
        *ngIf="!user.uid"
        (click)="googleLogin()"
        [class.is-loading]="user.loading"
      >
        <b>Sign In</b> with Google
      </a>

      <clr-dropdown>
        <button
          class="nav-icon"
          clrDropdownTrigger
          *ngIf="user.photoUrl"
          style="margin-left: 0.75rem; margin-right: 0.25rem"
        >
          <app-profile-badge
            class="round mr-2"
            [photoUrl]="user.photoUrl"
            [size]="1.75"
          ></app-profile-badge>

          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a href="..." clrDropdownItem>About</a> -->
          <!-- <a href="..." clrDropdownItem>Preferences</a> -->
          <a href="#" clrDropdownItem *ngIf="user.uid" (click)="logout()">
            Log Out
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </ng-container>
  </div>
</header>
