<div
  class="content-area"
  style="padding: 0; display: flex; flex-direction: column"
>
  <!-- Tab Row -->
  <div
    class="tab-row"
    cdkDropList
    cdkDropListOrientation="horizontal"
    cdkDropListLockAxis="x"
    (cdkDropListDropped)="onTabDragDrop($event)"
  >
    <div
      *ngFor="let tab of openTabs"
      class="tab"
      (click)="changeTab(tab)"
      [class.active]="tab === selectedTab"
      [class.readonly]="tab.editorOptions.readOnly"
      cdkDrag
      cdkDragBoundary=".tab-row"
    >
      {{ tab.title }}
      <span class="closeTab" (click)="onCloseTab(tab)">
        <clr-icon *ngIf="tab.dirty" shape="circle" class="is-solid"></clr-icon>
        <clr-icon *ngIf="!tab.dirty" shape="times"></clr-icon>
      </span>
    </div>
    <!-- New File Button -->
    <div
      class="tab newFileTab"
      [class.active]="!selectedTab"
      (click)="newTab()"
    >
      <clr-icon
        shape="plus-circle"
        class="is-solid"
        title="New File"
      ></clr-icon>
    </div>
  </div>

  <!-- Editor Section -->
  <div style="flex-grow: 1; position: relative">
    <div class="editor-tab">
      <!-- Monaco editor tab -->
      <nge-monaco-editor
        style="height: 100%; overflow: hidden; border-width: 0"
        [style.visibility]="selectedTab && selectedTab.model !== undefined"
        (ready)="onMonacoInit($event)"
      ></nge-monaco-editor>
      <div *ngIf="showEditorSidebar" class="editor-sidebar">
        <div>
          <button
            id="copy"
            type="button"
            class="btn btn-sm"
            [cdkCopyToClipboard]="compilerOutput"
          >
            Copy to clipboard
          </button>

          <button
            id="close"
            type="button"
            class="btn btn-icon btn-sm"
            (click)="showEditorSidebar = false"
          >
            <clr-icon shape="window-close"></clr-icon>
          </button>
        </div>
        <textarea [(ngModel)]="compilerOutput"></textarea>
      </div>
    </div>

    <!-- Welcome tab.  Open File, New File, etc... -->
    <div class="floating-tab" *ngIf="!selectedTab">
      <app-welcome-tab
        (selectFile)="onOpenFile($event)"
        (newFile)="onNewFile($event)"
      ></app-welcome-tab>
    </div>

    <!-- Monaco diff editor tab -->
    <div
      class="floating-tab"
      [hidden]="!(selectedTab && selectedTab.diff !== undefined)"
    >
      <!-- Diff info bar -->
      <div
        class="diffInfoBar"
        *ngIf="selectedTab && selectedTab.diff !== undefined"
        [class.clean]="!selectedTab.dirty"
        [class.error]="selectedTab.error"
      >
        <div class="fileInfo">
          <span>
            {{ selectedTab.codeFile.docName }} - v{{
              selectedTab.codeFile.version
            }}
          </span>
        </div>

        <!-- Version selector -->
        <app-version-select
          [version]="selectedTab.codeFile.version"
          (output)="setNewFileVersion($event)"
        ></app-version-select>

        <!-- Save or Discard changes -->
        <div class="saveButtonGroup">
          <span>Save?</span>

          <button
            class="btn btn-icon btn-sm"
            title="Save changes"
            (click)="onSaveConfirm()"
          >
            <clr-icon shape="check" size="18"></clr-icon>
          </button>
          <button
            class="btn btn-icon btn-sm"
            title="Discard changes"
            (click)="onCloseTab()"
          >
            <clr-icon shape="times" size="18"></clr-icon>
          </button>
        </div>
      </div>

      <!-- Monaco diff editor -->
      <nge-monaco-diff-editor
        style="height: 100%; overflow: hidden; border-width: 0"
        (ready)="onMonacoDiffInit($event)"
      ></nge-monaco-diff-editor>
    </div>
  </div>
</div>

<!-- Side nav -->
<nav class="sidenav">
  <section class="sidenav-content">
    <div class="file-info-div">
      <ng-container
        *ngIf="selectedTab?.codeFile && selectedTab.codeFile.displayName"
      >
        <div class="file-name">{{ selectedTab.codeFile.docName }}</div>
        <div class="version">version {{ selectedTab.codeFile.version }}</div>
        <div class="author-info">
          <app-profile-badge
            class="round mr-2"
            [photoUrl]="selectedTab.codeFile.photoUrl"
            [size]="1.5"
          ></app-profile-badge>
          {{ selectedTab.codeFile.displayName }}
        </div>
      </ng-container>
    </div>

    <a
      class="nav-link"
      (click)="onClickRename()"
      [class.disabled]="!canRename()"
    >
      <clr-icon shape="note"></clr-icon>
      Rename
    </a>

    <a
      class="nav-link"
      (click)="onSaveFile()"
      [class.disabled]="!canDiffAndSave()"
    >
      <clr-icon shape="floppy"></clr-icon>
      Diff and Save
    </a>

    <a class="nav-link" (click)="onCompile()" [class.disabled]="!canCompile()">
      <clr-icon shape="code"></clr-icon>
      Compile
    </a>

    <section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox" />
      <label for="tabexample1">Versions: </label>
      <ul class="nav-list" *ngIf="selectedTab">
        <li *ngFor="let ver of history$ | async">
          <a class="nav-link" (click)="openVersion(ver)">{{ ver.version }} </a>
        </li>
      </ul>
    </section>
  </section>
</nav>

<!-- Rename file modal -->
<clr-modal [(clrModalOpen)]="showRenameModal">
  <h3 class="modal-title">
    {{ "Rename '" + selectedTab?.codeFile?.docName + "' to:" }}
  </h3>

  <div class="modal-body">
    <!-- Name Input -->
    <input
      type="text"
      [(ngModel)]="renameModelText"
      placeholder="new filename"
      class="clr-input"
    />
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeRenameModal()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="renameCurrentFile()">
      Ok
    </button>
  </div>
</clr-modal>
