@import "src/styles";

.formatted {
  white-space: pre-wrap;
  font-family: monospace;
  line-height: normal;
}

::ng-deep div.p-menubar {
  padding: 0;
}

.tab-row {
  display: flex;
  flex-direction: row;
  background-color: #252526;
  align-items: center;
  height: 50px;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.newFileTab clr-icon {
  min-width: 30px;
}

.tab,
.newFileTab {
  background-color: #2d2d2d;
  padding: 0.5rem 0.75rem;
  margin-right: 2px;
  cursor: pointer;
  @include unselectable();

  &.active {
    background-color: #1e1e1e;
  }
  &.readonly {
    font-style: italic;
  }
  :last-of-type {
    margin-right: 0px;
  }
}

.closeTab {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  border-radius: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  margin: 0.25rem;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.25);
  }
}

.diffInfoBar {
  @include unselectable();

  flex: 0 1 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // background-color: #68217A;
  // background-color: #007acc;
  background-color: #0c7d9d;
  color: #fffffc;
  // padding: 0.25rem 1rem;

  &.clean {
    background-color: #587c0c;
  }

  &.error {
    background-color: #94151b;
  }
  span {
    padding: 0.25rem 1rem;
  }

  button {
    color: #fffffc;
    border-color: #fffffc;
  }
}

.editor-tab {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  nge-monaco-editor {
    flex: 1 0 300px;
  }

  .editor-sidebar {
    flex: 0 0 300px;
    background-color: rgb(41, 40, 44);
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
      display: flex;
      padding-left: 5px;

      #copy {
        flex: 1 0 auto;
      }

      #close {
        flex: 0 0 auto;
      }
    }

    textarea {
      flex: 1 0 auto;
      width: 100%;
      font-family: monospace;
      color: whitesmoke;
      background-color: #252526;
      outline: none;
      border-style: none;
    }
  }
}

// Used for diff editor and Welcome tab to float above the normal editor tab
.floating-tab {
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
}

clr-modal input {
  width: 100%;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.file-info-div {
  margin: 1rem;
  margin-bottom: 0;
  // border: #fffffc solid 2px;
  background-color: #243641;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;

  .file-name {
    font-size: 16px;
  }

  .version {
    font-size: 10px;
    height: 18px;
    position: relative;
    top: -10px;
  }

  .author-info {
    display: flex;
    flex-direction: row;

    app-profile-badge {
      padding-right: 0.5rem;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
