span {
  font-family: monospace;
  font-size: 16px;
  margin-right: 0.25rem;

  &.ver {
    cursor: pointer;
    padding: 0.25rem 0.55rem;
    margin: 0;
    border-radius: 420rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.25);

    &.selected {
      background-color: rgba(200, 200, 200, 0.55);
      // background-color: #4d4d4d;
    }
  }
}

clr-icon {
  color: #dddddd;
}
