<div class="version">
  <span>v</span>
  <span
    class="ver"
    title="Major Version"
    [class.selected]="_selectedIndex == 0"
    (click)="selectedIndex=0"
    >{{ newVersion.major }}</span
  >
  .
  <span
    class="ver"
    title="Minor Version"
    [class.selected]="_selectedIndex == 1"
    (click)="selectedIndex=1"
    >{{ newVersion.minor }}</span
  >
  .
  <span
    class="ver"
    title="Patch Version"
    [class.selected]="_selectedIndex == 2"
    (click)="selectedIndex=2"
    >{{ newVersion.patch }}</span
  >

  <!-- Help Icon for Versioning -->
  <a
    href="https://semver.org/"
    class="btn btn-icon btn-link"
    target="_blank"
    rel="noopener noreferrer"
    title="Given a version number MAJOR.MINOR.PATCH, increment the:

    MAJOR version when you make incompatible API changes,
    MINOR version when you add functionality in a backwards compatible manner, and
    PATCH version when you make backwards compatible bug fixes
    
    Click for more info."
  >
    <clr-icon shape="help" class="is-solid"></clr-icon>
  </a>
</div>
