.profile-badge {
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-style: solid;
  border-width: 2px;
}

.profile-badge > img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  vertical-align: top;
}

.user-photo-container {
  margin: 0px 15px;
  width: 36px;
  height: 36px;
}
