<div class="file-list">
  <div class="newfile">
    <input
      clrInput
      placeholder="Create a new file..."
      [(ngModel)]="newFileName"
      [ngModelOptions]="{ standalone: true }"
    />
    <button (click)="onNewFileClicked()" class="btn btn-primary">
      <clr-icon shape="plus"></clr-icon>
      New
    </button>
  </div>

  <div class="open-file-header">
    <div><clr-icon shape="folder"></clr-icon> Open a file:</div>
    <clr-checkbox-wrapper>
      <input
        type="checkbox"
        clrCheckbox
        [formControl]="showUsersFiles"
        value="option1"
        name="show user files"
      />
      <label>Show only my files</label>
    </clr-checkbox-wrapper>
  </div>

  <!-- List of Files -->
  <div
    class="file"
    *ngFor="let cf of files$ | async"
    (click)="onFileSelect(cf)"
  >
    <app-profile-badge
      class="round mr-2"
      [title]="cf.displayName"
      [photoUrl]="cf.photoUrl"
      [size]="1.5"
    ></app-profile-badge>

    <div class="name">{{ cf.docName }}</div>
    <div class="version">v{{ cf.version }}</div>
    <div class="updated">
      {{ cf.updateDate?.toDate() | date: "MM-dd-yyyy" }}
    </div>
  </div>
</div>
