@import "src/styles";

:host {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2rem;

  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

.open-file-header {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;

  div {
    flex: 1 0 auto;
  }

  clr-checkbox-wrapper {
    margin-right: 1rem;
  }
}

.file-list {
  overflow: auto;
  height: 100%;
  width: 600px;
  // background-color: #646464;
  background-color: #252526;
  color: whitesmoke;
}

.file {
  cursor: pointer;
  user-select: none;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: 1px;
  border-color: black;
  background-color: #1e1e1e;
  -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);

  app-profile-badge {
    padding-right: 1rem;
  }

  .name {
    flex: 0 0 auto;
    padding-right: 1rem;
  }
  .version {
    flex: 1 0 auto;
    font-size: 10px;
    font-style: italic;
  }
  .update {
    flex: 0 0 auto;
  }

  &:hover {
    background-color: rgb(101, 114, 131);
  }

  &:active {
    background-color: rgb(71, 92, 98);
  }
}

.newfile {
  // cursor: pointer;
  // user-select: none;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px;
  border-color: black;
  background-color: #1e1e1e;
  -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

// Format the clarity input box
::ng-deep {
  .clr-form-control {
    margin-top: 0;
    width: 100%;
  }
  .clr-control-container {
    width: 100%;
  }
  input {
    width: 100%;
  }
}

// Format the clarity button
button {
  width: 100px;
  margin: 0;
  margin-left: 1rem;
}
