/* You can add global styles to this file, and also import other style files */

html {
  background-color: slategray;
}

@mixin unselectable() {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Hide warning in emulator mode
.firebase-emulator-warning { display: none; }